{%load staticfiles%}
<!DOCTYPE html>
<html lang="ko">
<head>
	<title>Login V10</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor1/bootstrap1/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor1/animate1/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor1/css-hamburgers1/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor1/animsition1/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor1/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'vendor1/daterangepicker1/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'main_css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'main_css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<form class="login100-form validate-form flex-sb flex-w">
					<span class="login100-form-title p-b-51">
						로그인
					</span>

					
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
						<input class="input100" type="text" name="username" placeholder="이름">
						<span class="focus-input100"></span>
					</div>
					
					
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
						<input class="input100" type="password" name="pass" placeholder="비밀번호">
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn">
							로그인
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>
	
    {%block content%}{%endblock%}
	<div id="dropDownSelect"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'vendor1/jquery1/jquery-3.2.1.min.j' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor1/animsition1/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor1/bootstrap1/js/popper.js' %}"></script>
	<script src="{% static 'vendor1/bootstrap1/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor1/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor1/daterangepicker1/moment.min.js' %}"></script>
	<script src="{% static 'vendor1/daterangepicker1/daterangepicker' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor1/countdowntime1/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main1.js' %}"></script>

</body>
</html>
