{% load staticfiles %}

<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="utf-8">

    <title>버밋</title>

  <meta content="width=device-width, initial-scale=1.0" name="viewport"> 

  <meta content="" name="keywords">

  <meta content="" name="description">

 
  <!-- Favicons -->

  <link href="{% static 'img/favicon.png' %}" rel="icon">

  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

 

  <!-- Google Fonts -->

  <link href="{% static 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700' %}" rel="stylesheet">

 

  <!-- Bootstrap CSS File -->

  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

 

  <!-- Libraries CSS Files -->

  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">

  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">

  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet">

 

  <!-- Main Stylesheet File -->

  <link href="{% static 'css/style.css' %}" rel="stylesheet">

 

  <!-- =======================================================

    Theme Name: BizPage

    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/

    Author: BootstrapMade.com

    License: https://bootstrapmade.com/license/

  ======================================================= -->

</head>

 

<body>

 

  <!--==========================

    Header

  ============================-->

  <header id="header">

    <div class="container-fluid">

 

      <div id="logo" class="pull-left">

        <h1><a href="#intro" class="scrollto">버밋(Busker&Meet)</a></h1>

        <!-- Uncomment below if you prefer to use an image logo -->

        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->

      </div>

 

      <nav id="nav-menu-container">

        <ul class="nav-menu">

          <li class="menu-active"><a href="#intro">홈</a></li>

          <li><a href="#about">소개</a></li>

          <li><a href="#services">서비스</a></li>

          <li><a href="#portfolio">영상들</a></li>

          <li><a href="{%url 'login'%}">로그인</a></li> 

          <li><a href="{%url 'signup'%}">가입하기</a>

          </li>

          <!-- <li><a href="#contact">Contact</a></li> -->

        </ul>

      </nav><!-- #nav-menu-container -->

    </div>

  </header><!-- #header -->

 

  <!--==========================

    Intro Section

  ============================-->

  <section id="intro">

    <div class="intro-container">

      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

 

        <ol class="carousel-indicators"></ol>

 

        <div class="carousel-inner" role="listbox">

 

          <div class="carousel-item active">

            <div class="carousel-background"><img src="{% static 'img/intro-carousel/u1.png' %}" alt=""></div>

            <div class="carousel-container">

              <div class="carousel-content">

                <h2>버스킹 Top 5</h2>

                <p>우씨더맥스 '어디에도'열창 홍대 버스킹 영상</p>


              </div>

            </div>

          </div>

 

          <div class="carousel-item">

            <div class="carousel-background"><img src="{% static 'img/intro-carousel/MYUNGSUK1.PNG' %}" alt=""></div>

            <div class="carousel-container">

               <div class="carousel-content">

                <h2>버스킹 Top 5</h2>

                <p>명석형은 사춘기의 '나들이 갈래' 부평구청역 앞 버스킹</p>



              </div>

            </div>

          </div>

 

          <div class="carousel-item">

            <div class="carousel-background"><img src="{% static 'img/intro-carousel/s1.jpg' %}" alt=""></div>

            <div class="carousel-container">

              <div class="carousel-content">

                <h2>버스킹 Top 5</h2>

                <p>정수성님의 '부디' 연신내역 앞 버스킹</p>



              </div>

            </div>

          </div>

 

          <div class="carousel-item">

            <div class="carousel-background"><img src="{% static 'img/intro-carousel/h1.jpg' %}" alt=""></div>
                                                            
            <div class="carousel-container">

              <div class="carousel-content">

                <h2>버스킹 Top 5</h2>

                <p>윤혜지님의 '술이 너보다 낫더라' 부평구청역 앞 버스킹</p>



              </div>

            </div>

          </div>

 

          <div class="carousel-item">

            <div class="carousel-background"><img src="{% static 'img/intro-carousel/h2.jpg' %}" alt=""></div>
                                                        
            <div class="carousel-container">

              <div class="carousel-content">

                <h2>버스킹 Top 5</h2>

                <p>허지영님의 '총맞은 것처럼' 한강 버스킹</p>



              </div>

            </div>

          </div>

 

        </div>

 

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">

          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>

          <span class="sr-only">Previous</span>

        </a>

 

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">

          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>

          <span class="sr-only">Next</span>

        </a>

 

      </div>

    </div>

  </section><!-- #intro -->

 

  <main id="main">

 
<!--
    <!--==========================

      Featured Services Section

    ============================-->

   
    <!--==========================

      About Us Section

    ============================-->

    <section id="about">

      <div class="container">

 

        <header class="section-header">

          <h3>소개</h3>


        </header>

 

        <div class="row about-cols">

 

          <div class="col-md-4 wow fadeInUp">

            <div class="about-col">

              <div class="img">

                <img src="{% static 'img/about-mission.jpg' %}" alt="" class="img-fluid" style="width:350px;">

                <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>

              </div>

              <h2 class="title"><a href="#" >미션</a></h2>

              <p>

                사이트에 등록된 버스킹 공연을 관람하신 뒤 인증하시면 포인트를 드립니다. 포인트를 많이 적립할수록 푸짐한 경품이 팡팡!

              </p>

            </div>

          </div>

 

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">

            <div class="about-col">

              <div class="img">

                <img src="{% static 'img/about-plan.jpg' %}" alt="" class="img-fluid" style="width:350px;">

                <div class="icon"><i class="ion-ios-list-outline"></i></div>

              </div>

              <h2 class="title"><a href="#">계획</a></h2>

              <p>

                버스킹 연주자들의 일정을 관리해드립니다. 다른 버스커들과 함께 공연을 개최해보세요!

              </p>

            </div>

          </div>

 

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">

            <div class="about-col">

              <div class="img">

                <img src="{% static 'img/about-vision.jpg' %}" alt="" class="img-fluid" style="width:350px;">

                <div class="icon"><i class="ion-ios-eye-outline"></i></div>

              </div>

              <h2 class="title"><a href="#">공유</a></h2>

              <p>

                장비, 악기 대여 서비스를 지원하며 버스킹계의 공유 문화에 앞장서겠습니다.

              </p>

            </div>

          </div>

 

        </div>

 

      </div>

    </section><!-- #about -->

 

    <!--==========================

      Services Section

    ============================-->

    <section id="services">

      <div class="container">

 

        <header class="section-header wow fadeInUp">

          <h3>서비스</h3>
        <br>

        </header>

 

        <div class="row">

 

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">

            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>

            <h4 class="title"><a href="">1. 장소 추천 및 예약</a></h4>

            <p class="description">버스킹 하기에 좋은 명소들을 소개해드립니다. 예약 서비스까지 지원해드리는건 덤!</p>

          </div>

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">

            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>

            <h4 class="title"><a href="{%url 'home'%}">2. 장비 및 악기 대여</a></h4>

            <p class="description">버스킹은 하고 싶지만 장비나 악기가 부족하다! 또는 물리적으로 여건이 따라주지 않는다! 하시는 버스커들을 위해 장비 및 악기를 대여, 운반해드립니다.</p>

          </div>

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">

            <div class="icon"><i class="ion-ios-paper-outline"></i></div>

            <h4 class="title"><a href="">3. 버스커 협주</a></h4>

            <p class="description">"같이 협주할 버스커를 구하고 있다!" 하시면 이곳을 클릭하세요. </p>

          </div>

 <!--         <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">

            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>

            <h4 class="title"><a href="">Magni Dolores</a></h4>

            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

          </div>

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">

            <div class="icon"><i class="ion-ios-barcode-outline"></i></div>

            <h4 class="title"><a href="">Nemo Enim</a></h4>

            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>

          </div>

          <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">

            <div class="icon"><i class="ion-ios-people-outline"></i></div>

            <h4 class="title"><a href="">Eiusmod Tempor</a></h4>

            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>

          </div>

 -->

        </div>

 

      </div>

    </section><!-- #services -->

 

    <!--==========================

      Call To Action Section

    ============================-->

    <!-- <section id="call-to-action" class="wow fadeIn">

      <div class="container text-center">

        <h3>Call To Action</h3>

        <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <a class="cta-btn" href="#">Call To Action</a>

      </div>

    </section><!-- #call-to-action -->
 
 

    <!--==========================

      Skills Section

    ============================-->

    <!-- <section id="skills">

      <div class="container">

 

        <header class="section-header">

          <h3>Our Skills</h3>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>

        </header>

 

        <div class="skills-content">

 

          <div class="progress">

            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">

              <span class="skill">HTML <i class="val">100%</i></span>

            </div>

          </div>

 

          <div class="progress">

            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">

              <span class="skill">CSS <i class="val">90%</i></span>

            </div>

          </div>

 

          <div class="progress">

            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">

              <span class="skill">JavaScript <i class="val">75%</i></span>

            </div>

          </div>

 

          <div class="progress">

            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">

              <span class="skill">Photoshop <i class="val">55%</i></span>

            </div>

          </div>

 

        </div>

 

      </div>

    </section> -->

 
<!--
    <!--==========================

      Facts Section

    ============================-->

    <!-- <section id="facts"  class="wow fadeIn">

      <div class="container">

 

        <header class="section-header">

          <h3>Facts</h3>

          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>

        </header>

 

        <div class="row counters">

 

  				<div class="col-lg-3 col-6 text-center">

            <span data-toggle="counter-up">274</span>

            <p>Clients</p>

  				</div>

 

          <div class="col-lg-3 col-6 text-center">

            <span data-toggle="counter-up">421</span>

            <p>Projects</p>

  				</div>

 

          <div class="col-lg-3 col-6 text-center">

            <span data-toggle="counter-up">1,364</span>

            <p>Hours Of Support</p>

  				</div>

 

          <div class="col-lg-3 col-6 text-center">

            <span data-toggle="counter-up">18</span>

            <p>Hard Workers</p>

  				</div>

 

  			</div>

 

        <div class="facts-img">

          <img src="{% static 'img/facts-img.png' %}" alt="" class="img-fluid">

        </div>

 

      </div>

    </section><!-- #facts -->
 

    <!--==========================

      Portfolio Section

    ============================-->

    <section id="portfolio"  class="section-bg" >

      <div class="container">

 

        <header class="section-header">

          <h3 class="section-title">버스킹 영상들</h3>

        </header>

 

 

        <div class="row portfolio-container">
            
 

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp">

            <div class="portfolio-wrap">

              <figure>

                <img src="{% static 'img/portfolio/ailee.PNG' %}" class="img-fluid" alt="">
                <!-- <a href="{% static 'img/portfolio/app1.jpg' %}" data-lightbox="portfolio" data-title="App 1" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a> -->
                
                <a href="https://www.youtube.com/watch?v=KUzWGZ37TZk/" class="link-details" title="더보기"><i class="ion ion-android-open"></i></a>

              </figure>

 

              <div class="portfolio-info">

                <h4>에일리 - 첫 눈처럼 너에게 가겠다</a></h4>

                <p>에일리</p>

              </div>

            </div>

          </div>

 

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">

            <div class="portfolio-wrap">

              <figure>

                <img src="{% static 'img/portfolio/sachungi.PNG' %}" class="img-fluid" alt="">

                <!-- <a href="{% static 'img/portfolio/web3.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Web 3" title="Preview"><i class="ion ion-eye"></i></a> -->

                <a href="https://www.youtube.com/watch?v=zwQpkS2mRq8/" class="link-details" title="더보기"><i class="ion ion-android-open"></i></a>

              </figure>

 

              <div class="portfolio-info">

                <h4>볼빨간 사춘기 - 싸운날</a></h4>

                <p>볼빨간 사춘기</p>

              </div>

            </div>

          </div>

 

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">

            <div class="portfolio-wrap">

              <figure>

                <img src="{% static 'img/portfolio/Hello.PNG' %}" class="img-fluid" alt="">

                <!-- <a href="{% static 'img/portfolio/app2.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="App 2" title="Preview"><i class="ion ion-eye"></i></a> -->

                <a href="https://www.youtube.com/watch?v=oRA8CAm_k6g" class="link-details" title="더보기"><i class="ion ion-android-open"></i></a>

              </figure>

 

              <div class="portfolio-info">

                  <h4>허각 - Hello</a></h4>

                <p>허각</p>

              </div>

            </div>

          </div>

 

          <div class="col-lg-4 col-md-6 portfolio-item filter-card wow fadeInUp">

            <div class="portfolio-wrap">

              <figure>

                <img src="{% static 'img/portfolio/Akdong.PNG' %}" class="img-fluid" alt="">

                <!-- <a href="{% static 'img/portfolio/card2.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Card 2" title="Preview"><i class="ion ion-eye"></i></a> -->

                <a href="https://www.youtube.com/watch?v=8K7upG029_U/" class="link-details" title="더보기"><i class="ion ion-android-open"></i></a>

              </figure>

 

              <div class="portfolio-info">

                <h4>악동뮤지션 - 사람들이 움직이는게</a></h4>

                <p>악동뮤지션</p>

              </div>

            </div>

          </div>

 

          <div class="col-lg-4 col-md-6 portfolio-item filter-web wow fadeInUp" data-wow-delay="0.1s">

            <div class="portfolio-wrap">

              <figure>

                <img src="{% static 'img/portfolio/Kim.PNG' %}" class="img-fluid" alt="">

                <!-- <a href="{% static 'img/portfolio/web2.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="Web 2" title="Preview"><i class="ion ion-eye"></i></a> -->

                <a href="https://www.youtube.com/watch?v=b1hQfJXyNME/" class="link-details" title="더보기"><i class="ion ion-android-open"></i></a>

              </figure>

 

              <div class="portfolio-info">

                <h4><a href="#" style="font-size:15px;">김연우 - 내가 너의 곁에 잠시 살았다는걸</a></h4>

                <p>김연우</p>

              </div>

            </div>

          </div>

 

          <div class="col-lg-4 col-md-6 portfolio-item filter-app wow fadeInUp" data-wow-delay="0.2s">

            <div class="portfolio-wrap">

              <figure>

                <img src="{% static 'img/portfolio/SGWannabe.PNG' %}" class="img-fluid" alt="">

                <!-- <a href="{% static 'img/portfolio/app3.jpg' %}" class="link-preview" data-lightbox="portfolio" data-title="App 3" title="Preview"><i class="ion ion-eye"></i></a>
 -->
                <a href="https://www.youtube.com/watch?v=DcAwqWO05F4" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>

              </figure>

 

              <div class="portfolio-info">

                <h4>SG워너비 - 살다가</a></h4>

                <p>SG워너비</p>

              </div>

            </div>

          </div>

        </div>

      </div>

    </section><!-- #portfolio -->

    <!--==========================

      Clients Section

    ============================-->

    <section id="clients" class="wow fadeInUp">

      <div class="container">

        <header class="section-header">

            <h3>Ou후원업체</h3>

        </header>

        <div class="owl-carousel clients-carousel">

          <img src="{% static 'img/clients/h.png' %}" alt="">

          <img src="{% static 'img/clients/c.png' %}" alt="">

          <img src="{% static 'img/clients/d.png' %}" alt="">

          <img src="{% static 'img/clients/o.png' %}" alt="">

          <img src="{% static 'img/clients/g.png' %}" alt="">

          <img src="{% static 'img/clients/e.png' %}" alt="">

          <img src="{% static 'img/clients/a.png' %}" alt="">

          <img src="{% static 'img/clients/i.png' %}" alt="">

        </div>

 

      </div>

    </section><!-- #clients -->

 

    <!--==========================

      Clients Section

    ============================-->

    <section id="testimonials" class="section-bg wow fadeInUp">

      <div class="container">

 

        <header class="section-header">

          <h3>후기</h3>

        </header>

 

        <div class="owl-carousel testimonials-carousel">

 

          <div class="testimonial-item">

            <img src="{% static 'img/testimonial-1.jpg' %}" class="testimonial-img" alt="">

            <h3>Saul Goodman</h3>

            <h4>싱어송라이터</h4>

            <p>

              <img src="{% static 'img/quote-sign-left.png' %}" class="quote-sign-left" alt="">

              너무 좋아요!

              <img src="{% static 'img/quote-sign-right.png' %}" class="quote-sign-right" alt="">

            </p>

          </div>

 

          <div class="testimonial-item">

            <img src="{% static 'img/testimonial-2.jpg' %}" class="testimonial-img" alt="">

            <h3>Sara Wilsson</h3>

            <h4>가수</h4>

            <p>

              <img src="{% static 'img/quote-sign-left.png' %}" class="quote-sign-left" alt="">

              혁신적인 사이트

!              <img src="{% static 'img/quote-sign-right.png' %}" class="quote-sign-right" alt="">

            </p>

          </div>

 

          <div class="testimonial-item">

            <img src="{% static 'img/testimonial-3.jpg' %}" class="testimonial-img" alt="">

            <h3>Jena Karlis</h3>

            <h4>백수</h4>

            <p>

              <img src="{% static 'img/quote-sign-left.png' %}" class="quote-sign-left" alt="">

                  매칭 웹사이트계의 혁명!

              <img src="{% static 'img/quote-sign-right.png' %}" class="quote-sign-right" alt="">

            </p>

          </div>

 

          <div class="testimonial-item">

            <img src="{% static 'img/testimonial-4.jpg' %}" class="testimonial-img" alt="">

            <h3>Matt Brandon</h3>

            <h4>프리랜서</h4>

            <p>

              <img src="{% static 'img/quote-sign-left.png' %}" class="quote-sign-left" alt="">

                  이 사이트를 사용한 뒤 관객이 늘었어요!

              <img src="{% static 'img/quote-sign-right.png' %}" class="quote-sign-right" alt="">

            </p>

          </div>

 

          <!-- <div class="testimonial-item">

            <img src="{% static 'img/testimonial-5.jpg' %}" class="testimonial-img" alt="">

            <h3>John Larson</h3>

            <h4>Entrepreneur</h4>

            <p>

              <img src="{% static 'img/quote-sign-left.png' %}" class="quote-sign-left" alt="">

              Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.

              <img src="{% static 'img/quote-sign-right.png' %}" class="quote-sign-right" alt="">

            </p>

          </div>
 -->
 

        </div>

 

      </div>

    </section><!-- #testimonials -->

 

    <!--==========================

      Team Section

    ============================-->

    
 

    <!--==========================

      Contact Section

    ============================-->

    <section id="contact" class="section-bg wow fadeInUp">

      <div class="container">

 

        <div class="section-header">

        </div>

        </div>

        </div>

    </section><!-- #contact -->

 

  </main>

 

  <!--==========================

    Footer

  ============================-->

  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="row">

 

          <div class="col-lg-3 col-md-6 footer-info">

            <h3>버밋</h3>

            <p>상호: (주)버밋 | 대표: 김원경 | 사업자등록번호: 679-87-00428 | 통신판매업신고번호: 제 2018-서울강남-02246호(사업자정보확인) | 개인정보관리책임자: 강창훈 (privacy_bus@gmail.com)
              </p>

          </div>

 

          <div class="col-lg-3 col-md-6 footer-links">

            
          </div>

 

          <div class="col-lg-3 col-md-6 footer-contact">

            <h4>찾아오시는 길</h4>

            <p>
              Autoway Tower<br>
              
              Yeongdong Street, Gangnam-gu <br>

              Seoul, Korea <br>

              <strong>Phone :</strong> 010-xxxx-xxxx <br>

              <strong>Email :</strong> xxx@naver.com <br>

            </p>

 

            <div class="social-links">

              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>

              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>

              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>

              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>

              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>

            </div>

 

          </div>

 

          <!-- <div class="col-lg-3 col-md-6 footer-newsletter">

            <h4>Newsletter</h4>

            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem marada parida nodela caramase seza.</p>

            <form action="" method="post">

              <input type="email" name="email"><input type="submit"  value="Subscribe">

            </form>

          </div>
 -->
 

        </div>

      </div>

    </div>

 

    <div class="container">

      <div class="copyright">

        &copy; 저작권

      </div>

      <div class="credits">

        <!--

          All the links in the footer should remain intact.

          You can delete the links only if you purchased the pro version.

          Licensing information: https://bootstrapmade.com/license/

          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=BizPage

        -->

        <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->

      </div>

    </div>

  </footer><!-- #footer -->

 

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Uncomment below i you want to use a preloader -->

  <!-- <div id="preloader"></div> -->

 

  <!-- JavaScript Libraries -->

  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>

  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>

  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <script src="{% static 'lib/easing/easing.min.js' %}"></script>

  <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>

  <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>

  <script src="{% static 'lib/wow/wow.min.js' %}"></script>

  <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>

  <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>

  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

  <script src="{% static 'lib/isotope/isotope.pkgd.min.js' %}"></script>

  <script src="{% static 'lib/lightbox/js/lightbox.min.js' %}"></script>

  <script src="{% static 'lib/touchSwipe/jquery.touchSwipe.min.js' %}"></script>

  <!-- Contact Form JavaScript File -->

  <script src="{% static 'contactform/contactform.js' %}"></script>

 

  <!-- Template Main Javascript File -->

  <script src="{% static 'js/main.js' %}"></script>

 

</body>

</html>